
  
  .batch-card {
    margin: 20px 10px 10px 0px;
    /* background: linear-gradient(45deg, #F2CAD8 30%, #F50057 90%) */
  }
  
  .outer-paper {
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    width: 60%;
  }

  .createBatch {
    margin: 10px;
    margin-bottom: 30px;
  }


  