.blueButton {
    margin-left: 10px;
    padding: 10px 25px;
    border-radius: 3px;
    font-size: 16px;
    background: linear-gradient(0.25turn,#0000f5, #9999ff);
    color: white;
    border: none;
    letter-spacing: 1px; 
  }

  .pinkButton {
    margin-top: 10px;
    padding: 10px 25px;
    border-radius: 3px;
    font-size: 16px;
    background: linear-gradient(0.50turn, #ffccde, #F50057);
    color: white;
    border: none;
    letter-spacing: 1px; 
  }

  .AlgoButton {
    background: linear-gradient(0.25turn, #ff99bd, #ff337a);
    color: white;
    border: 5px;
  }
