.customButton {
    margin-left: 10px;
    padding: 10px 25px;
    border-radius: 3px;
    font-size: 16px;
    background: linear-gradient(0.25turn,#0058CF, #3F97FF);
    color: white;
    border: none;
    letter-spacing: 1px; 
  }

  .batchbutton {
    margin-top: 10px;
    padding: 10px 25px;
    border-radius: 3px;
    font-size: 16px;
    background: linear-gradient(0.50turn, #F2CAD8, #F50057);
    color: white;
    border: none;
    letter-spacing: 1px; 
  }

  .AlgoButton {
    background: linear-gradient(0.25turn, #0058CF, #3F97FF, #F50057);
    color: white;
    border: 5px;
  }
