#myProgress {
    width: 100%;
    background-color: rgb(246, 245, 245);
    overflow: hidden;
  }

  #myGreenBar {
    height: 30px;
    background-color: #00f53d;
    float: left;
    text-align: center;
    line-height: 30px; 
    color: white; 
  }
  
  #myYellowBar {
    height: 30px;
    float: left;
    background-color: #f5f500; 
    text-align: center;
    line-height: 30px; 
    color: white; 
  }
  
  #myRedBar {
    height: 30px;
    float: left;
    background-color: #f50000; 
    text-align: center;
    line-height: 30px; 
    color: white; 
  }